body {
    margin:    0 auto;
    max-width: 960px;
    color: #696969;
    font-family: 'Lato', sans-serif;
}

#projectAnchor {
    color: #696969;
}

.headerName {
  text-align: right;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
}

.headerDescription {
  text-align: right;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  margin: 0;
}

hr {
  border: 2px solid #696969;
}
